.ion-toolbar{
    --background: #1f0e1c;
}

ion-content{
    --background: #eff3fb;
}

.principal-container{
    background: #eff3fb; //#d4ddec
}

/*
.circulo{
    background: white;
    width: 100px;
    height: 100px;
    position: fixed;
    border-radius: 200px;
    margin-top:-40px;
    border: 1px;
    margin-left: 45%;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(184,184,184,.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(184,184,184,.5);
    box-shadow: 0px 1px 3px 0px rgba(184,184,184,.5);
}

.circle-image{
    width: 100px;
    height: 100px;
}
*/
/* card empresa */

.card-enterprise-container{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.card-enterprise-form{
    width: 100%;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(184,184,184,.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(184,184,184,.5);
    box-shadow: 0px 1px 3px 0px rgba(184,184,184,.5);
}

.title-bar{
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 2%;
}

.image-bar{
    width: 50px;
    height: 50px;
}

ion-item-divider{
    width: 90%;
    margin-left: 5%;
}

/* Formulario Empresa */

.form-container{
    width: 80%;
    margin-left: 5%;
}

.form-content{
    width: 100%;
    padding-top: 2%;
    margin-left: 0%;
}

.item-form{
    margin-top: 2%;
    border-radius: 0px;
    --background: #f5f7f9;
}

ion-label{
    font-family: 'roboto';
    font-weight: 600;
}

.list-title{
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 500;
}


/* Usuario */

.user-container{
    width: 80%;
    margin-left: 5%;    
}

.user-content{
    width: 100%;
    padding-top: 2%;
    margin-left: 0%;
}

.item-user{
    margin-top: 2%;
    border-radius: 0px;
    --background: white;
}


/* botones */

.ion-button{
    --background: #95b0ed;
    --background-activated:#95b0ed;
    --background-focused:#95b0ed;
    --background-hover:#95b0ed;
    width: 70% !important;
    margin-left: 15% !important;
    margin-top: 5%;
    margin-bottom: 2.5%;
  }