<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start" mode="md">
      <ion-button (click)="navigateToEnterprises()" color="light" mode="md">
        <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="principal-container">
    <div class="card-enterprise-container">
      <div class="card-enterprise-form">
      <!--
        <div class="circulo">
          <img class="circle-image" src="">
        </div>
      -->
        <div class="card-enterprise-bar">
          <ion-item>
            <ion-avatar class="image-bar">
              <img src="https://www.flaticon.com/svg/static/icons/svg/3393/3393650.svg">
            </ion-avatar>
            <h1 class="title-bar">{{formTitle}}</h1>
          </ion-item>
        </div>        

        <div class="card-enterprise-content">
          <form [formGroup]="enterpriseForm">  
            <div class="form-container">
              <!--
              <div class="form-bar">
                <h1 class="bar-title">Datos Persona</h1>
              </div>
              -->
              <div class="form-content">
                <div class="list-title">
                  Datos de la empresa
                </div>

                <ion-item class="item-form">
                  <ion-label position="stacked">Nombre<b style="color:red">
                  </b></ion-label>
                  <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
                </ion-item>
        
                <ion-item class="item-form">
                  <ion-label position="stacked">Dirección<b style="color:red">
                  </b></ion-label>
                  <ion-input type="text" formControlName="address" placeholder="Dirección"></ion-input>
                </ion-item>
              </div>
            </div>
          </form>
        </div>

        <!--
          <div class="card-enterprise-content">
            <div class="user-container">
              <div class="user-content">
                <div class="list-title">
                  Lista de usuarios
                </div>
                <ion-item class="item-user">
                  Agregar usuario
                </ion-item>
              </div>
            </div>
          </div>
        -->
        <ion-button class="ion-button" [disabled]="!enterpriseForm.valid" (click)="saveEnterprise()">Guardar</ion-button>
        <!--<ion-button class="ion-button" [disabled]="!enterpriseForm.valid" (click)="updateEnterprise()">Actualizar</ion-button>-->
      </div>
    </div>

    <div class="card-usuario-container">

    </div>
  </div>
</ion-content>
