<div class="principal-container">
  <div class="login-form-container">
    <div class="login-icon-container" style="text-align: center">
      <img class="logo" src="../assets/icon/edificios.png">
    </div>

    <div class="inputs-container">
      <div class="input-container">
        <input class="input-form" type="text" placeholder="Usuario">
      </div>

      <div class="input-container">
        <input class="input-form" type="password" placeholder="Contraseña">
      </div>

      <div class="lost-pass-container">
        <button class="lost-pass-button" routerLink="#">He olvidado mi contraseña</button>
      </div>

      <div class="login-button-container">
        <button class="login-button" routerLink="#">Continuar</button>
      </div>
    </div>
  </div>
</div>
